<footer class="footer footer-center p-4 bg-base-300 text-base-content">
    <div>
      <p>Copyright © 2023 - All right reserved by <a href="https://saahild.com?ref=">Saahil</a> </p>
      <p>Made w/ ❤️</p>
    </div>
  </footer>